
.service-animation:hover .order-button{

    visibility: visible;

}

.service-img:hover  {
    height: 260px;
 
    

}
.service-img{
    height: 250px;
    transition: height 1s;
}

.order-button {
   visibility: hidden;
   
}