
.service-animation:hover .order-button{

    visibility: visible;

}
.service-animation :hover {
    background-color: black;
    color:white;
    transition: background-color 3s,color 3s;
}


.order-button {
   visibility: hidden;
   
}